<input type="hidden" name="order_id" id="order_id" value="{{ order_id }}">
<input type="hidden" name="is_finalized" id="is_finalized" value="{{ is_finalized }}">
<h3><img src="{{ header_icon }}">&nbsp;Invoice has expired.</h3>

Please create a new order and try again.
